.container {
  width: 100%;
}

.crypto-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 30px;
  i { cursor: pointer; }
  .copy-success {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    left: -25px;
    top: -50px;
    background-color: black;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 20px;
  }
  .copy-success::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .copy-success {
    opacity: 0;
    transition: opacity 1s;
    transition: all 400ms;
  }
  .copy-success-active {
    visibility: visible;
    opacity: 1;
  }
}

.crypto-label {
  font-size: 1.2rem;
  text-align: right;
  h3 { margin: 0; padding: 0; }
  span { font-size: inherit; text-overflow: ellipsis; }
}

@media (max-width: 900px) {
  .crypto-label span { font-size: 9px; }
}