$smallest-screen-mobile: 350px;
$small-screen-mobile: 400px;
$big-screen-mobile: 550px;
$tablet: 1150px;

$computer: 1100px;
$smartphone-large: 750px;
$smartphone-regular: 1100px;
$smartphone-small: 1100px;
$large: 1100px;