@import '../../styles/app.scss';

.card {
  border: solid 1px #c9bebe;
  border-radius: 10px;
  margin: 30px auto;
  width: 100%;
  max-width: 700px;

  .card-header {
    h1,h2,h3 { margin: 0; }
    border-radius: 9px 9px 0 0;
    height: 60px;
    background-color: $purple-8;

    .header {
      height: 100%; 
      text-align: center;
      display: flex; 
      justify-content: center; 
      align-items: center;
      color: #eeeeee;
      font-weight: 600;
    }

  }

  .card-body {
    h1,h2,h3 { margin: 10px 0; }
    height: 100%;
    padding: 15px;
    .card-title {
      margin: 0;
      display: flex;
      justify-content: space-between;

      .job-title { max-width: 60%; }
      .date-range { font-size: 1rem; margin: auto 0; }
    }
    .card-text div { margin: 15px 0; }
    .card-text p { margin: 15px 0; }
    .card-text div, p { font-size: 1.1rem; }
  }
}
