// custom colors
$white: #e9e9e9;


$gray-lightest: #0000;
$gray-lighter: #0000;
$gray-light: #0000;
$gray: #0000;
$gray-dark: #0000;
$gray-darker: #0000;
$gray-darkest: #0000;


$blue-lightest: #0000;
$blue-lighter: #0000;
$blue-light: #0000;
$blue: #0000;
$blue-dark: #0000;
$blue-darker: #0000;
$blue-darkest: #0000;

$red-lightest: #0000;
$red-lighter: #0000;
$red-light: #0000;
$red: #0000;
$red-dark: #0000;
$red-darker: #0000;
$red-darkest: #0000;

$green-lightest: #0000;
$green-lighter: #0000;
$green-light: #0000;
$green: #0000;
$green-dark: #0000;
$green-darker: #0000;
$green-darkest: #0000;

$purple-1: #070372;
$purple-2: #161374;
$purple-3: #252275;
$purple-4: #343277;
$purple-5: #434179;
$purple-6: #52517a;
$purple-7: #61607c;
$purple-8: #70707e;

$green-triad-1: #7b751b;
$gray-triad-1: #1b7b75;
$purple-triad-1: #751b7b;