$smallest-screen-mobile-fontsize--h1: 20px;
$smallest-screen-mobile-fontsize--h2: 18px;
$smallest-screen-mobile-fontsize--h3: 16px;
$smallest-screen-mobile-fontsize--p: 14px;

$small-screen-mobile-fontsize--h1: 20px;
$small-screen-mobile-fontsize--h2: 18px;
$small-screen-mobile-fontsize--h3: 16px;
$small-screen-mobile-fontsize--p: 14px;

$big-screen-mobile-fontsize--h1: 24px;
$big-screen-mobile-fontsize--h2: 16px;
$big-screen-mobile-fontsize--h3: 14px;
$big-screen-mobile-fontsize--p: 12px;

$tablet-fontsize--h1: 24px;
$tablet-fontsize--h2: 20px;
$tablet-fontsize--h3: 18px;
$tablet-fontsize--p: 16px;

$default-fontsize--h1: 24px;
$default-fontsize--h2: 20px;
$default-fontsize--h3: 18px;
$default-fontsize--p: 16px;